.sidebar {
    position: fixed;
    top: -10;
    right: -200px;
    width: 100px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    z-index: 14;
  }
  
.sidebar-open {
  transform: translateX(-200px);
}
  
.close-sidebar-button {
    align-self: flex-end;
}



